{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Credits</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/credits.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">The Buzz</a></h1>
        </div>

        <ul class="my-nav-bar">
          <li><a href="/">Home</a></li>
          <li><a href="/game/">Game</a></li>
          <li><a href="/facts/">Facts</a></li>
          <li><a href="/howtohelp/">How To Help</a></li>
          <li><a href="/credits/">About Us</a></li>
        </ul>

        <h1 class="about-us">About Us</h1>

          <div id="container">
            <div id="image">
              <img src="http://i.imgur.com/02tamPu.jpg" style="width:260px; height:260px;" />
            </div>
            <div id="info">
              <p>Hello! My name is Gabriela Perez and I'm a rising senior from Richmond, CA. Some of my interests are nature, photography, and helping others. I joined Girls Who Code because I have a passion for learning, and wanted to gain new experiences this summer. While being in this program not only did I get exposed to tech but I also gained confidence, networking skills, and the desire to pursue a career in tech. The Buzz, my final project, was based on the declining bee population and the lack of awareness surrounding it.</p>
            </div>
          </div>

        <div id="container">
          <div id="image">
            <img src="http://i.imgur.com/3VDhUx6.jpg" height=300px width=260px/>
          </div>
          <div id="info">
            <p>Hi! My name is WaiYing Lam and people know me as Stephanie. I'm a rising senior from San Francisco, CA. Some of my interests are Lego, basketball, and volunteering. Something I'm passionate about is helping and bringing awareness about the environment. I joined Girls Who Code because I want to learn how technology can be used to help the environment. The program helped me further develop my interest in technology and using technology to make the world a better place.<p>
          </div>
        </div>

        <div id="container">
          <div id="image">
            <img src="http://i.imgur.com/AEJZla8.png" height=350px width=260px/>
          </div>
          <div id="info">
            <p>Hi, My name is Cody Taber. I am a 17 year old aspiring software engineer from Alameda, California. I have a love for science and technology and during my time at Girls Who Code I have found an interest in design. With a strong background in environmental studies and volunteering during beach clean ups, I am passionate about preserving the natural systems of our world.</p>
          </div>
        </div>

        <h3><a href="/" class="home-button">Go back home</a></div></h3>
      </body>
</html>
